<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvhryptRU4d9PfI_iJyunsxGHKUtPTBik</string>
	<key>GCM_SENDER_ID</key>
	<string>1076620464241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robertMichelsDigitalMedia.tourguideApp</string>
	<key>PROJECT_ID</key>
	<string>tourguideapp-45a06</string>
	<key>STORAGE_BUCKET</key>
	<string>tourguideapp-45a06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076620464241:ios:7c989ca654f8f857a44bd0</string>
</dict>
</plist>